@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --neutral-100: #F2F3FF;
    --neutral-90: #DADBE5;
    --neutral-80: #C2C2CC;
    --neutral-70: #A1A2B2;
    --neutral-60: #8A8A99;
    --neutral-50: #6C6D80;
    --neutral-40: #575766;
    --neutral-30: #3D3E4D;
    --neutral-20: #262733;
    --neutral-10: #12121A;
    --info-light: #98D3D9;
    --info-regular: #57CED9;
    --info-dark: #2B666B;
    --success-light: #98D9B3;
    --success-regular: #57D98D;
    --success-dark: #2B6B46;
    --warning-light: #D9C298;
    --warning-regular: #D9AB57;
    --warning-dark: #6B552B;
    --danger-light: #D99899;
    --danger-regular: #D95759;
    --danger-dark: #6B2B2C;
    --font: "Roboto", sans-serif
}

* {
    font-family: var(--font);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(var(--neutral-90), var(--neutral-80));
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p,label {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

h4 {
    font-size: 20px;
    margin-bottom: 8px;
}

h5 {
    font-size: 16px;
    margin-bottom: 4px;
}

h6 {
    font-size: 12px;
    margin-bottom: 4px;
}

p,label {
    font-size: 16px;
    font-weight: 400;
}

hr {
    border-style: solid;
    border-color: var(--neutral-70);
    margin: 0;
}

input {
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--neutral-70);
}

input:focus {
    border-color: var(--info-regular);
    outline: none;
}

input[type="submit"]{
    background-color: var(--success-regular);
    color: var(--neutral-10);
    border-color: var(--success-regular);
    cursor: pointer;
    font-weight: 700;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.container-centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow: hidden;
}

.form-login {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    width: clamp(240px, 50%, 360px);
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
}

.form-login > h4 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.form-login > .message {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--danger-regular);
    color: var(--neutral-100);
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
    padding: 12px 24px;
    background-color: var(--neutral-40);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

nav > ul {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 24px;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--neutral-80);
    font-size: 18px;
    font-weight: 700;
}

nav > ul > li > a:hover {
    color: var(--neutral-100);
}

nav > .brand {
    padding-right: 24px;
    border-right: 2px solid var(--neutral-100);
}

nav > .brand > h2 {
    margin: 0;
    color: var(--neutral-100);
}

nav > .user > button {
    color: var(--neutral-100);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

table {
    width: clamp(640px, 100%, 1280px);
    border-collapse: collapse;
}

th {
    padding: 12px;
    text-align: start;
}

tr {
    background-color: var(--neutral-100);
}

tr:nth-child(even) {
    background-color: var(--neutral-80);
}

td {
    text-overflow: ellipsis;
    padding: 12px;
}

.table {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.icon-button {
    background-color: var(--success-light);
    color: var(--neutral-10);
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-decoration: none;
}

.icon-button:hover {
    opacity: 0.8;
}

.paginator {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    padding: 12px;
}

.paginator > a {
    background-color: var(--neutral-70);
    border: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--neutral-100);
}

.notify {
    position: fixed;
    bottom: 16px;
    left: 16px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 3s ease-out;
}

.notify.error {
    background-color: var(--danger-regular);
    color: var(--neutral-100);
}

.notify.success {
    background-color: var(--success-regular);
    color: var(--neutral-10);
}

.notify.hide {
    opacity: 0;
}

.notify > h5 {
    margin: 0;
}

.search-bar {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    padding: 12px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.search-bar > input[type="text"] {
    flex: 1;
}

.search-bar > button[type="submit"] {
    background-color: var(--info-regular);
    color: var(--neutral-10);
    border-color: var(--info-regular);
    cursor: pointer;
    font-weight: 700;
    border-style: solid;
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    background-color: transparent;
    color: var(--neutral-80);
    padding: 0;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--neutral-100);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content.left {
    right: 16px;
}

.dropdown-content a {
    color: var(--neutral-10);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--neutral-80);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    color: var(--neutral-100);
}

.collapse > button {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--neutral-100);
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.collapse > div.show {
    display: flex;
}

.collapse > div {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(5px);
}

.collapse > div > .menu {
    width: 40%;
    height: 100%;
    background-color: var(--neutral-40);
    display: flex;
    flex-flow: column nowrap;
    padding: 12px;
}

.collapse > div > .menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.collapse > div > .menu > ul > li {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
}

.collapse > div > .menu > ul > li > a {
    text-decoration: none;
    color: var(--neutral-80);
    font-size: 18px;
    font-weight: 700;
}

.collapse > div > .menu > ul > li > a:hover {
    color: var(--neutral-100);
}

.collapse > div > .menu > .user > button {
    color: var(--neutral-100);
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 8px;
}

.card.hidden{
    display: none;
}

.card > form {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.card .group {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.card .row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.card .row .column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.card .row .column > img{
    height: 240px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    background-color: var(--neutral-70);
}

.card .group > img{
    height: 240px;
    width: 100%;
    object-fit: scale-down;
    cursor: pointer;
    background-color: var(--neutral-70);
}

textarea {
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--neutral-70);
    resize: none;
    border-width: 2px;
}

textarea:focus {
    border-color: var(--info-regular);
    outline: none;
}

select {
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--neutral-70);
    border-width: 2px;
}

select:focus {
    border-color: var(--info-regular);
    outline: none;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    width: 100%;
    align-items: center;
}

.row > button {
    background-color: var(--success-regular);
    color: var(--neutral-10);
    border-color: var(--success-regular);
    cursor: pointer;
    font-weight: 700;
    border-style: solid;
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

@media (max-width: 640px) {
    .card .row {
        flex-flow: column nowrap;
    }

    .card .row .column {
        width: 100%;
    }
    
    .collapse > button {
        display: flex;
    }

    nav > .brand {
        border: none;
        flex: 1;
    }

    nav > ul {
        display: none;
    }

    nav > .user {
        display: none;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 12px;
    }
    
    h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }
    
    h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    h4 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    
    h5 {
        font-size: 12px;
        margin-bottom: 4px;
    }
    
    h6 {
        font-size: 8px;
        margin-bottom: 4px;
    }
    
    p,label {
        font-size: 12px;
        font-weight: 400;
    }
}
